@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Tajawal', 'Segoe UI', sans-serif;
}

body {
  margin: 0;
}

@media print {
  .no-print {
    display: none !important;
  }
  main {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  body, html {
    background: white !important;
  }
}
